@mixin root-shadows {
  --shadow-diorite: 0 #{em(2px)} #{em(4px)} rgba(0, 0, 0, 0.25);
  --shadow-basalt: 0 #{em(2px)} #{em(14px)} 0 rgba(0, 0, 0, 0.25);
  --shadow-obsidian: 0 #{em(2px)} #{em(10px)} #{em(4px)} rgba(0, 0, 0, 0.25);
}
