@mixin root-wrappers {
  --wrapper-dacite: #{em((400px))};
  --wrapper-dunite: #{em((700px))};
  --wrapper-diorite: #{em((1056px))};
  --wrapper-basalt: #{em((1366px))};
  --wrapper-obsidian: #{em((1600px))};
  --wrapper-tuff: #{em((1920px))};
}
